*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(145deg, white, pink);

}
.container {
    text-align:center;
    /* display: grid;
    grid-template-rows: minmax(80px, auto) repeat(5, 60px);
    grid-template-columns: center;
    justify-content: center;
    padding: 1.4rem;
    border-radius: 12px;
    gap: 0.7em; */

}
/* .container button{
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color:black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: hsl(230, 6%, 30%);
} */
h1 {
    margin-bottom: 20px;
    color:crimson
}
.calculator{
    background-color: lightsteelblue;
    padding:20px;
    font-size: 20px;
    margin-bottom: 10px;
    border:none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: grid;
    /* grid-template-columns: repeat(4,60px); */
    gap: 5px;
}
.calculator input[type="text"] {
    width:100%;
    grid-column: span 4;
    height: 50px;
    background-color: #ecf0f3;
    border :2px 2px 2px 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 12px;
}
.calculator button{
    height: 60px;
    width:60px;
    padding:15px;
    background-color:#2980b8;
    color:white;
    border-radius: 10px;
    margin: 5px;
    font-size: 18px;
    border:none;
    cursor: pointer;
    transition: background 0.3s ease;
}
.calculator button:hover{
    background-color:navy;
    transform: scale(1.3);
    transition: 0.5s; 
}